<div class="note-creator shadow-2" [ngStyle]="{'background-color': newNote.color}">
  <form class="row" (submit)="onCreateNote()">
    <input
      type="text"
      name="newNoteTitle"
      placeholder="Title"
      class="col-xs-10 title"
      autocomplete="off"
      [(ngModel)]="newNote.title"
      *ngIf="focus"
    >
    <input
      type="text"
      name="newNoteValue"
      placeholder="Take a note..."
      class="col-xs-10"
      autocomplete="off"
      [(ngModel)]="newNote.value"
      (focus)="focus=true"
    >
    <div *ngIf="focus"  class="actions col-xs-12 row between-xs">
      <color-picker (onSelectColor)="setColor($event)"></color-picker>
      <button
        type="submit"
        class="btn-light"       
       >
        Done
      </button>
    </div>
  </form>
</div>